Repository tiagoporto/json-map-keys: changes, and which lefthook commands are due for each by the changed paths.
All: format, doc-lint, typecheck, markdown-lint, html-yml-json-lint, js-ts-eslint, test

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*'
      run: pnpm exec prettier  --write --ignore-unknown {staged_files}
      stage_fixed: true

    doc-lint:
      glob: '*.{md,markdown,mdx}'
      run: pnpm exec remark --frail {staged_files}

    typecheck:
      glob: '*.{ts,tsx}'
      # Whole project type check for global errors
      run: pnpm exec tsc --project tsconfig.json

    markdown-lint:
      glob: '*.{md,markdown,mdx}'
      run: pnpm exec eslint --max-warnings 0 --no-warn-ignored {staged_files}

    html-yml-json-lint:
      glob: '*.{html,yml,yaml,json,jsonc,json5}'
      run: pnpm exec eslint --max-warnings 0 --no-warn-ignored {staged_files}

    js-ts-eslint:
      glob: '*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}'
      run: pnpm exec eslint --max-warnings 0 --no-warn-ignored {staged_files}

    test:
      glob: '*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}'
      run: pnpm exec vitest related --run --passWithNoTests {staged_files}

chore: add .json to multireleaserc
  .multi-releaserc.json
Due: format, html-yml-json-lint

chore: add jsr
  .releaserc.js
  packages/json-map-keys/jsr.json
  packages/json-map-keys/package.json
Due: format, html-yml-json-lint, js-ts-eslint, test

chore: revert
  packages/jest-transformer/jsr.json
  packages/rollup-plugin/jsr.json
  packages/webpack-loader/jsr.json
Due: format, html-yml-json-lint

chore: update dependabot-config
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: format, html-yml-json-lint

chore: replace lint-staged and husk by lefthook
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format, html-yml-json-lint, js-ts-eslint, test

chore: add lefthook prepare script
  package.json
Due: format, html-yml-json-lint

chore(json-map-keys): add explicit return
  packages/json-map-keys/src/index.ts
Due: format, typecheck, js-ts-eslint, test

chore: update semantic-release-jsr
  package.json
  pnpm-lock.yaml
Due: format, html-yml-json-lint

chore: move releaserc to each packages folder
  packages/jest-transformer/.releaserc.js
  packages/json-map-keys/.releaserc.js
  packages/rollup-plugin/.releaserc.js
  packages/webpack-loader/.releaserc.js
Due: format, js-ts-eslint, test

ci: rename publish job
  .github/workflows/publish.yml
Due: format, html-yml-json-lint

chore: update eslint
  package.json
  pnpm-lock.yaml
Due: format, html-yml-json-lint

chore: update semantic release
  package.json
  pnpm-lock.yaml
Due: format, html-yml-json-lint

feat(json-map-keys): set sideEffects false
  packages/json-map-keys/package.json
Due: format, html-yml-json-lint

Notes added by 'git notes add'
  e52b147fc1b9ce0dbc8aec51b9bd5b4a665e58fe
Due: format

chore: set npm access public
  .npmrc
Due: format

feat(json-map-keys): rename documentation
  packages/json-map-keys/README.md
  packages/json-map-keys/src/index.test.ts
  packages/json-map-keys/src/index.ts
Due: format, doc-lint, typecheck, markdown-lint, js-ts-eslint, test

chore: add jsr
  packages/json-map-keys/.releaserc.js
  packages/json-map-keys/jsr.json
  packages/json-map-keys/package.json
Due: format, html-yml-json-lint, js-ts-eslint, test

ci: disable jsr
  packages/json-map-keys/.releaserc.js
Due: format, js-ts-eslint, test

Notes added by 'git notes add'
  9cb1e2299a436f133d76ddf0f2dcd1a1c04ae129
Due: format

Notes added by 'git notes add'
  2c2f1db4026b961ca61fdd031e7f7c8a2cbec0c6
Due: format

ci: enable semantic release comment PR
  .github/workflows/publish.yml
Due: format, html-yml-json-lint

docs: add link to packages doc
  README.md
Due: format, doc-lint, markdown-lint

feat(jest-transformer): update paths
  packages/jest-transformer/package.json
Due: format, html-yml-json-lint

feat(ovtop): initial commit
  .commitlintrc
  README.md
  package.json
  packages/object-value-to-object-path/.releaserc.js
  packages/object-value-to-object-path/LICENSE
  packages/object-value-to-object-path/README.md
  packages/object-value-to-object-path/jsr.json
  packages/object-value-to-object-path/package.json
  packages/object-value-to-object-path/rollup.config.mjs
  packages/object-value-to-object-path/src/index.test.ts
  packages/object-value-to-object-path/src/index.ts
  packages/object-value-to-object-path/tsconfig.json
  pnpm-lock.yaml
Due: format, doc-lint, typecheck, markdown-lint, html-yml-json-lint, js-ts-eslint, test

feat(ovtop): update paths and doc
  packages/object-value-to-object-path/README.md
  packages/object-value-to-object-path/package.json
Due: format, doc-lint, markdown-lint, html-yml-json-lint

feat(rollup-plugin): update paths
  packages/rollup-plugin/package.json
Due: format, html-yml-json-lint

ci: rename dry run input description
  .github/workflows/publish.yml
Due: format, html-yml-json-lint

feat(webpack-loader): update paths
  packages/webpack-loader/package.json
Due: format, html-yml-json-lint

Notes added by 'git notes add'
  4ba477ae0ccb8d5c07a5d2577542d5583a4e84b8
Due: format

chore: update node and pnpm
  .nvmrc
  package.json
Due: format, html-yml-json-lint
